<ng-container *ngIf="(selectedtabLink$ | async) as tab">
<ng-container *ngIf="tab==='hot'">
  <app-image-slider [sliders]="imageSliders" #imageSlider></app-image-slider>
  <app-horizontal-grid [username]='username' (usernameChange)='username=$event'>
      <div appGridItem *ngFor="let item of channels">
          <img [src]="item.icon" alt="" [appGridItemImage]="'4rem'" [fitMode]="'cover'">
          <span appGridItemTitle="1rem">{{item.title}}</span>
      </div>
  </app-horizontal-grid>
  
</ng-container>
</ng-container>

<div class="ad-container" *ngIf="(ad$ | async) as ad">
  <img class='home-detail-ad' [src]="ad.adInfo.imageURL" alt="">
</div>

<!-- <app-product-card *ngFor="let product of product$ | async" [product]="product"></app-product-card> -->

<app-vertical-grid [itemWidth]="'20rem'">
  <app-product-card  *ngFor='let product of products$| async' [product]="product"></app-product-card>

</app-vertical-grid>





{{date| appAgo}}

  <p #timeRef>{{time}}</p>

<input type="text" #inputRef>

<app-count-down [startDate]="startDate" [futureDate]="futureDate"></app-count-down>